.gift {}


.gift_selection {

    &_ttl {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        white-space: nowrap;
        font-family: $f_en;
        letter-spacing: 0;
        margin: 0 auto;
        @include responsive((width: 800,
                font-size: 96,
                line-height: 112,
                margin-bottom: 200,
            ));

        @include mq(sp) {
            width: mycalcSP(307);
            font-size: mycalcSP(36);
            line-height: mycalcSP(48);
            margin-bottom: mycalcSP(120);
        }

        &_line {

            &:first-child {
                @include mq(sp) {
                    text-indent: mycalcSP(-6);
                }
            }

            &:nth-child(2) {
                @include responsive((padding-right: 54,
                    ));

                @include mq(sp) {
                    padding-right: mycalcSP(8);
                }
            }

            &:nth-child(3) {
                align-self: flex-end;
                @include responsive((padding-right: 8,
                    ));

                @include mq(sp) {
                    padding-right: mycalcSP(1);
                }
            }

        }

        &_wrap {
            position: relative;
        }

        &_arch {
            &_figure {
                display: block;
                overflow: hidden;
                left: 50%;
                position: absolute;

                &.a {
                    @include responsive((width: 240,
                            height: 186,
                            border-radius: 160 160 0 0,
                            top: 122,
                            margin-left: -400,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(100);
                        height: mycalcSP(78);
                        border-radius: mycalcSP(160 160 0 0);
                        top: mycalcSP(54);
                        margin-left: mycalcSP(-152);
                    }

                    .gift_selection_ttl_arch_figure_img {
                        @include responsive((width: 240,
                                height: 220,
                            ));

                        @include mq(sp) {
                            width: mycalcSP(100);
                            height: auto;
                        }
                    }
                }

                &.b {
                    @include responsive((width: 284,
                            height: 84,
                            border-radius: 42,
                            top: 124,
                            margin-left: 104,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(108);
                        height: mycalcSP(32);
                        border-radius: mycalcSP(42);
                        top: mycalcSP(55);
                        margin-left: mycalcSP(46);
                    }

                    .gift_selection_ttl_arch_figure_img {
                        @include responsive((width: 284,
                                height: 134,
                            ));

                        @include mq(sp) {
                            width: mycalcSP(108);
                            height: auto;
                        }
                    }
                }
            }
        }

    }

    &_list {
        margin: 0 auto;
        box-sizing: border-box;
        @include responsive((width: 1280,
                padding: 0 71,
            ));

        @include mq(sp) {
            width: mycalcSP(390);
            padding: mycalcSP(0 24);
        }
    }

    &_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -3;
        border-radius: 2350px 2350px / 1240px 1240px;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        overflow: hidden;

        @include responsive((width: 2400,
            ));

        @include mq(pc) {
            border-radius: #{mycalc(2350 2350)} / #{mycalc(1240 1240)};
            box-shadow: inset #{mycalc(64 64 160)} rgb(0 0 0 / 25%);
        }

        @include mq(sp) {
            width: mycalcSP(1440);
            border-radius: #{mycalcSP(1400 1400)} / #{mycalcSP(1380 1380)};
            // box-shadow: inset #{mycalcSP(64 64 160)} rgb(0 0 0 / 25%);
            box-shadow: none;
        }

        &_svg {
            position: absolute;
            z-index: -4;

            img {
                width: 100%;
                height: 100%;
            }

            &.a {
                right: 50%;
                @include responsive((width: 2400,
                        height: 1396,
                        top: -604,
                        margin-right: -2650,
                    ));

                @include mq(sp) {
                    width: mycalcSP(94);
                    height: mycalcSP(367);
                    top: 0;
                    margin-right: mycalcSP(-195);
                }
            }

            &.b {
                left: 50%;
                @include responsive((width: 698,
                        height: 640,
                        top: 448,
                        margin-left: -960,
                    ));

                @include mq(sp) {
                    width: mycalcSP(185);
                    height: mycalcSP(320);
                    top: mycalcSP(222);
                    margin-left: mycalcSP(-196);
                }
            }

            &.c {
                left: 50%;
                @include responsive((width: 2400,
                        height: 1396,
                        top: 2918,
                        margin-left: -2034,
                    ));
            }

        }
    }
}


.gift_item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    @include responsive((margin-bottom: 24,
        ));

    @include mq(sp) {
        margin-bottom: mycalcSP(48);
    }

    &_name {
        position: relative;
        display: inline-block;
        @include responsive((margin-bottom: 32,
            ));

        @include mq(sp) {
            display: block;
            margin-bottom: mycalcSP(21);
        }

        &_txt {
            letter-spacing: 0;
            @include responsive((font-size: 28,
                    line-height: 40,
                ));

            @include mq(sp) {
                font-size: mycalcSP(24);
                line-height: mycalcSP(36);
            }
        }
    }

    &_mark {
        display: inline-block;
        color: $c_white;
        letter-spacing: .05em;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        transform: translate(calc(100% + 24px), -50%);
        right: 0;
        @include responsive((font-size: 12,
                line-height: 14,
                padding: 8 12 8 13,
                border-radius: 40,
            ));

        @include mq(pc) {
            transform: translate(calc(100% + #{mycalc(24)}), -50%);
        }

        @include mq(sp) {
            font-size: mycalcSP(11);
            line-height: mycalcSP(14);
            padding: mycalcSP(8 12 8 13);
            border-radius: mycalcSP(40);
            transform: translate(0);
            position: relative;
            top: 0;
            right: auto;
            left: 0;
            margin-top: mycalcSP(8);
        }

        &.black {
            background: $c_text;
        }

        &.brown {
            background: $c_brown;
        }
    }

    &_price {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;
        @include responsive((margin-bottom: 24,
            ));

        @include mq(sp) {
            margin-bottom: mycalcSP(16);
        }

        .size {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            flex-wrap: wrap;
            @include responsive((margin-right: 24,
                ));

            @include mq(sp) {
                margin-right: mycalcSP(8);
            }

            &_label {
                font-family: $f_en;
                letter-spacing: .1em;
                @include responsive((font-size: 28,
                        line-height: 28,
                        margin-right: 8,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(24);
                    line-height: mycalcSP(24);
                    margin-right: mycalcSP(8);
                }

                &.small {
                    @include mq(sp) {
                        font-size: mycalcSP(18);
                        line-height: mycalcSP(24);
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            &_desc {
                letter-spacing: 0;
                @include responsive((font-size: 14,
                        line-height: 24,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(14);
                    line-height: mycalcSP(24);
                }
            }
        }

        .price {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            flex-wrap: wrap;

            &_intax {
                font-family: $f_en;
                letter-spacing: .1em;
                @include responsive((font-size: 28,
                        line-height: 28,
                        margin-right: 8,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(24);
                    line-height: mycalcSP(24);
                    margin-right: mycalcSP(8);
                }
            }

            &_tax {
                letter-spacing: 0;
                @include responsive((font-size: 14,
                        line-height: 24,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(12);
                    line-height: mycalcSP(20);
                }
            }
        }
    }

    &_desc {
        letter-spacing: 0;
        @include responsive((font-size: 14,
                line-height: 28,
            ));

        @include mq(sp) {
            font-size: mycalcSP(15);
            line-height: mycalcSP(30);
        }
    }

    &_figure {
        overflow: hidden;
        position: absolute;
        z-index: 1;
        @include responsive((width: 436,
                height: 436,
            ));

        @include mq(sp) {
            width: mycalcSP(280);
            height: mycalcSP(280);
        }

        &_img {
            @include responsive((width: 436,
                    height: 436,
                ));

            @include mq(sp) {
                width: mycalcSP(280);
                height: mycalcSP(280);
            }
        }
    }

    &_figure_thumb {
        overflow: hidden;
        position: absolute;
        z-index: 0;
        @include responsive((width: 160,
                height: 220,
                border-radius: 120,
            ));

        @include mq(sp) {
            width: mycalcSP(80);
            height: mycalcSP(110);
            border-radius: mycalcSP(120);
        }

        &_img {
            @include responsive((width: 160,
                    height: 270,
                ));

            @include mq(sp) {
                width: mycalcSP(80);
                height: mycalcSP(135);
            }
        }
    }

    &_info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column;
        @include responsive((width: 450,
                height: 436,
            ));

        @include mq(sp) {
            width: 100%;
            height: auto;
            margin-top: mycalcSP(24);
        }
    }

    &_image {
        position: relative;
        @include responsive((width: 552,
                height: 532,
            ));

        @include mq(sp) {
            width: mycalcSP(342);
            height: mycalcSP(352);
        }
    }

    &:after {
        content: "";
        z-index: -2;
        position: absolute;
        background: url(../images/common/bg/shape_arch_gift.svg);
        background-size: contain;
        background-repeat: no-repeat;

        @include responsive((width: 640,
                height: 640,
                border-radius: 320 320 0 0,
            ));

        @include mq(sp) {
            width: mycalcSP(320);
            height: mycalcSP(320);
            border-radius: mycalcSP(160 160 0 0);
        }
    }

    &:nth-child(odd) {
        @include responsive((padding-bottom: 148,
            ));

        @include mq(sp) {
            padding-bottom: 0;
        }

        .gift_item_info {
            order: 1;
            @include responsive((padding-left: 34,
                    margin-top: 96,
                ));

            @include mq(sp) {
                padding-left: 0;
                margin-top: mycalcSP(24);
            }
        }

        .gift_item_image {
            order: 0;
        }

        .gift_item_figure {
            bottom: 0;
            left: 0;
            @include responsive((border-radius: 32 0 32 0,
                ));

            @include mq(sp) {
                border-radius: mycalcSP(32 0 32 0);
            }
        }

        .gift_item_figure_thumb {
            top: 0;
            right: 0;
        }

        &:after {
            @include responsive((top: 40,
                    left: 40,
                ));

            @include mq(sp) {
                top: mycalcSP(8);
                left: mycalcSP(11);
            }
        }
    }

    &:nth-child(even) {
        justify-content: space-between;
        @include responsive((padding-top: 56,
                padding-bottom: 52,
            ));

        @include mq(sp) {
            padding-top: 0;
            padding-bottom: 0;
        }

        .gift_item_info {
            order: 0;
        }

        .gift_item_image {
            order: 1;

            @include mq(sp) {
                order: -1;
            }
        }

        .gift_item_figure {
            top: 0;
            right: 0;
            @include responsive((border-radius: 0 32 0 32,
                ));

            @include mq(sp) {
                top: auto;
                bottom: 0;
                border-radius: mycalcSP(0 32 0 32);
            }
        }

        .gift_item_figure_thumb {
            bottom: 0;
            left: 0;

            @include mq(sp) {
                top: 0;
                bottom: auto;
            }
        }

        &:after {
            @include responsive((top: 0,
                    right: 40,
                ));

            @include mq(sp) {
                top: mycalcSP(7);
                right: mycalcSP(11);
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}