.headline {
    font-family: $f_special;
    letter-spacing: 0;
    color: $c_inc_black;
    @include responsive((font-size: 96,
            line-height: 96,
        ));

    @include mq(sp) {
        font-size: mycalcSP(64);
        line-height: mycalcSP(64);
    }
}


.top_concept {
    position: relative;
    z-index: 1001; // opening用のpin要素の上に重ねる
    @include responsive((padding-top: 100,
        ));

    @include mq(sp) {
        padding-top: mycalcSP(4);
        padding-bottom: mycalcSP(160);
        z-index: 1;
    }

    &_inner {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        flex-wrap: wrap;
        text-align: center;
        box-sizing: border-box;
        margin: 0 auto;
        z-index: 0;
        @include responsive((width: 1086,
                padding: 320 0 534,
            ));

        @include mq(sp) {
            width: mycalcSP(312);
            padding: mycalcSP(120 0 184);
        }

        &_bg {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            top: 0;
            left: 0;
            z-index: -1;

            &_img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &_ttl {
        order: -1;
        letter-spacing: .1em;
        @include responsive((font-size: 48,
                line-height: 64,
                margin-bottom: 96,
            ));

        @include mq(sp) {
            font-size: mycalcSP(24);
            line-height: mycalcSP(40);
            margin-bottom: mycalcSP(32);
        }
    }

    &_headline {
        position: absolute;
        color: $c_white;
        font-family: $f_special;
        letter-spacing: 0;
        opacity: .3;
        width: 100vw;
        top: 50%;
        left: 50%;
        margin-left: -50vw;
        @include responsive((font-size: 320,
                line-height: 320,
                margin-top: -160,
            ));

        @include mq(sp) {
            font-size: mycalcSP(96);
            line-height: mycalcSP(96);
            margin-top: mycalcSP(-48);
            text-indent: mycalcSP(-3);
        }
    }

    &_desc {
        letter-spacing: 0;
        @include responsive((font-size: 18,
                line-height: 64,
                margin-bottom: 64,
            ));

        @include mq(sp) {
            font-size: mycalcSP(15);
            line-height: mycalcSP(56);
            margin-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .name {
        order: 0;
        margin-bottom: 0;
    }

    /*
    &_bg {
      position: absolute;
      z-index: -1;
      top: 100vh;
      right: 50%;
      filter: blur(20px);
      @include responsive((
        width: 1944,
        height: 1362,
        margin-right: -960,
      ));
      @include mq(pc) {
        filter: blur(#{mycalc(20)});
      }
      @include mq(sp) {
        width: mycalcSP(390);
        height: mycalcSP(600);
        top: mycalcSP(68);
        right: 0;
        margin-right: 0;
        filter: blur(#{mycalcSP(20)});
      }
  
      &_img {
        width: 100%;
        height: auto;
      }
    }
    */

    &_deco {

        &_figure {
            position: absolute;
            overflow: hidden;
            background: $c_gray;

            &.a {
                left: 50%;
                @include responsive((width: 320,
                        height: 480,
                        top: 852,
                        margin-left: -686,
                        border-radius: 160 160 0 0,
                    ));

                @include mq(sp) {
                    width: mycalcSP(144);
                    height: mycalcSP(216);
                    top: auto;
                    bottom: mycalcSP(64);
                    margin-left: mycalcSP(-195);
                    border-radius: mycalcSP(160 160 0 0);
                }
            }

            &.b {
                right: 50%;
                @include responsive((width: 320,
                        height: 200,
                        top: 568,
                        margin-right: -686,
                        border-radius: 160 160 0 0,
                    ));

                @include mq(sp) {
                    width: mycalcSP(160);
                    height: mycalcSP(100);
                    top: mycalcSP(36);
                    margin-right: mycalcSP(-261);
                    border-radius: mycalcSP(160 160 0 0);
                }
            }

            &.c {
                right: 50%;
                @include responsive((width: 240,
                        height: 320,
                        top: 1116,
                        margin-right: -570,
                        border-radius: 120 120 0 0,
                    ));

                @include mq(sp) {
                    width: mycalcSP(120);
                    height: mycalcSP(160);
                    top: auto;
                    bottom: mycalcSP(152);
                    margin-right: mycalcSP(-171);
                    border-radius: mycalcSP(120 120 0 0);
                }
            }

            &_img {
                position: absolute;
                bottom: 0;
                left: 0;

                .a & {
                    @include responsive((width: 320,
                            height: 580,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(144);
                        height: mycalcSP(261);
                    }
                }

                .b & {
                    @include responsive((width: 320,
                            height: 246,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(160);
                        height: mycalcSP(123);
                    }
                }

                .c & {
                    @include responsive((width: 240,
                            height: 336,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(120);
                        height: mycalcSP(168);
                    }
                }
            }
        }

    }
}


.top_chef {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    @include responsive((width: 672,
            margin-bottom: 387,
        ));

    @include mq(sp) {
        width: 100%;
        box-sizing: border-box;
        padding: mycalcSP(0 24);
        flex-flow: column;
        margin-bottom: mycalcSP(428);
    }

    &_ttl {
        position: absolute;
        z-index: 0;
        left: 50%;
        color: $c_white;
        opacity: .8;
        @include responsive((top: -50,
                margin-left: -116,
            ));

        @include mq(sp) {
            order: -1;
            position: relative;
            top: 0;
            left: auto;
            margin-left: 0;
            width: 100%;
            text-align: right;
            margin-bottom: mycalcSP(16);
        }
    }

    &_desc {
        order: 2;
        position: relative;
        z-index: 1;
        white-space: nowrap;
        @include responsive((width: 320,
                margin-left: 111,
                margin-top: 168,
                margin-bottom: 80,
            ));

        @include mq(sp) {
            width: mycalcSP(240);
            margin: 0 auto;
            white-space: normal;
        }
    }

    &_figure {
        position: relative;
        z-index: 1;
        order: 1;
        overflow: hidden;
        @include responsive((width: 240,
                height: 360,
            ));

        @include mq(sp) {
            width: mycalcSP(240);
            height: mycalcSP(360);
            margin: 0 auto mycalcSP(32);
        }
    }

    &_name {
        color: $c_inc_black;
        font-family: $f_en;
        letter-spacing: 0;
        transition: color $t_curtain;
        @include responsive((font-size: 24,
                line-height: 40,
                margin-bottom: 16,
            ));

        @include mq(sp) {
            font-size: mycalcSP(24);
            line-height: mycalcSP(40);
            margin-bottom: mycalcSP(16);
        }

        .active & {
            color: $c_white;
        }
    }

    &_txt {
        color: $c_inc_black;
        letter-spacing: 0;
        transition: color $t_curtain;
        @include responsive((font-size: 14,
                line-height: 28,
            ));

        @include mq(sp) {
            font-size: mycalcSP(14);
            line-height: mycalcSP(28);
        }

        &.strong {
            @include responsive((font-size: 18,
                    line-height: 32,
                    margin-bottom: 12,
                ));

            @include mq(sp) {
                font-size: mycalcSP(18);
                line-height: mycalcSP(32);
                margin-bottom: mycalcSP(12);
            }
        }

        .active & {
            color: $c_white;
        }
    }

    &_bg {
        &_top {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            @include responsive((width: 1080,
                    height: 640,
                    margin-top: -358,
                    margin-left: -960,
                ));

            @include mq(sp) {
                width: mycalcSP(326);
                height: mycalcSP(320);
                top: mycalcSP(-208);
                left: auto;
                right: mycalcSP(64);
                margin-top: 0;
                margin-left: 0;
            }

            &_img {
                width: 100%;
                height: 100%;
            }
        }

        &_bottom {
            position: absolute;
            right: 50%;
            z-index: -2;
            @include responsive((width: 2400,
                    height: 1376,
                    bottom: -770,
                    margin-right: -2184,
                ));

            @include mq(sp) {
                width: mycalcSP(275);
                height: mycalcSP(722);
                bottom: mycalcSP(-236);
                margin-right: mycalcSP(-195);
            }

            &_img {
                width: 100%;
                height: 100%;
            }
        }
    }

}


.top_menu {
    width: 100%;
    position: relative;
    color: $c_inc_black;
    transition: color $t_curtain;
    z-index: 2;
    @include responsive((padding: 240 0,
        ));

    @include mq(sp) {
        padding: mycalcSP(240 0 34);
        background: none;

        &:after {
            content: "";
            width: 100%;
            height: calc(100% + #{mycalcSP(94)});
            //background: linear-gradient(180deg, $c_black 0%, rgba(0, 0, 0, 0) 50%, $c_black 100%);
            //background: rgba(0, 0, 0, .8);
            //background: $c_black;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
    }

    &.active {
        color: $c_stone;
    }

    &_ttl {
        color: $c_inc_black;
        opacity: .8;
        margin: 0 auto;
        transition: color $t_curtain;
        @include responsive((width: 1138,
            ));

        @include mq(sp) {
            width: 100%;
            text-align: center;
        }

        .active & {
            color: $c_white;
        }

    }

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;

        @include responsive((width: 1138,
                padding: 120 0 0,
            ));

        @include mq(sp) {
            width: 100%;
            box-sizing: border-box;
            padding: mycalcSP(64 24 0);
        }
    }

    &_course {
        @include responsive((width: 480,
            ));

        @include mq(sp) {
            position: relative;
            width: 100%;
            margin-bottom: mycalcSP(64);
        }

        &_category {
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            @include responsive((width: 480,
                ));

            @include mq(sp) {
                width: 100%;
            }

            .lunch & {
                @include responsive((margin-bottom: 84,
                    ));

                @include mq(sp) {
                    margin-bottom: mycalcSP(48);
                }
            }

            .dinner & {
                @include responsive((margin-bottom: 64,
                    ));

                @include mq(sp) {
                    margin-bottom: mycalcSP(48);
                }
            }

            &_ttl {
                font-family: $f_en;
                letter-spacing: 0;
                @include responsive((font-size: 36,
                        line-height: 40,
                        margin-right: 16,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(28);
                    line-height: mycalcSP(28);
                    margin-right: mycalcSP(16);
                }
            }

            &_time {
                font-family: $f_en;
                letter-spacing: .1em;
                @include responsive((font-size: 16,
                        line-height: 16,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(16);
                    line-height: mycalcSP(16);
                }
            }
        }

        &_summary {
            @include minq(sp) {
                .top_menu_course_list {
                    cursor: pointer;
                }
            }

            @include mq(sp) {
                display: none;
            }
        }

        &_details {
            color: $c_white;

            @include minq(sp) {
                position: absolute;
                top: 0;
                left: 0;
                transition: transform $e_curtain .8s;

                .top_menu_course_list {
                    position: absolute;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    box-sizing: border-box;
                    flex-flow: column;
                    align-items: flex-start;
                    top: 50%;
                    opacity: 0;
                    transition: opacity .7s $e_curtain;
                    border-bottom: 0;
                    @include responsive((width: 560,
                            height: 560,
                            padding: 0 105,
                            margin-top: -280,
                        ));

                    .lunch & {
                        @include responsive((right: -850,
                            ));
                    }

                    .dinner & {
                        @include responsive((left: -850,
                            ));
                    }

                    &:before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: $c_black;
                        opacity: .9;
                        border-radius: 50%;
                        z-index: -1;
                    }

                    &.active {
                        opacity: 1;
                    }
                }

                .top_menu_course_list_cnt {
                    flex-flow: column;
                }

                .top_menu_course_list_price {
                    order: -1;
                    @include responsive((margin-top: 24));
                }

                .option {
                    .top_menu_course_list_price {
                        width: auto;
                        order: 0;
                        margin-top: 0;
                    }
                }
            }
        }

        &_list {
            border-bottom: 1px solid $c_border;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            @include responsive((padding-bottom: 39,
                    margin-bottom: 40,
                ));

            @include mq(sp) {
                width: 100%;
                flex-wrap: wrap;
                padding-bottom: mycalcSP(32);
                margin-bottom: mycalcSP(40);
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &_ttl {
                display: flex;
                justify-content: flex-start;
                align-items: baseline;

                @include mq(sp) {
                    width: 100%;
                    margin-bottom: mycalcSP(24);
                }

                .en {
                    font-family: $f_en;
                    letter-spacing: 0.1em;
                    display: block;
                    @include responsive((font-size: 18,
                            line-height: 18,
                            margin-right: 8,
                        ));

                    @include mq(sp) {
                        font-size: mycalcSP(18);
                        line-height: mycalcSP(18);
                        margin-right: mycalcSP(8);
                    }
                }

                .jp {
                    letter-spacing: 0;
                    display: block;
                    @include responsive((font-size: 16,
                            line-height: 16,
                        ));

                    @include mq(sp) {
                        font-size: mycalcSP(15);
                        line-height: mycalcSP(15);
                    }
                }
            }

            &_cnt {
                display: flex;
                justify-content: flex-end;
                align-items: baseline;

                @include mq(sp) {
                    width: 100%;
                    flex-flow: column;
                }

                .price {
                    font-family: $f_en;
                    letter-spacing: .1em;
                    display: block;
                    @include responsive((font-size: 24,
                            line-height: 24,
                        ));

                    @include mq(sp) {
                        font-size: mycalcSP(22);
                        line-height: mycalcSP(22);
                    }
                }

                .tax {
                    letter-spacing: 0;
                    display: block;
                    @include responsive((font-size: 14,
                            line-height: 16,
                            margin-left: 6,
                        ));

                    @include mq(sp) {
                        font-size: mycalcSP(14);
                        line-height: mycalcSP(16);
                        margin-left: mycalcSP(4);
                    }
                }

                .note {
                    @include responsive((margin-top: 18,
                        ));

                    @include mq(sp) {
                        margin-top: mycalcSP(18);
                    }
                }

                .option {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    @include responsive((margin-top: 32));

                    @include mq(sp) {
                        margin-top: mycalcSP(24);
                    }

                    .price {
                        @include responsive((margin-top: 0,
                                font-size: 16,
                                line-height: 16,
                            ));

                        @include mq(sp) {
                            font-size: mycalcSP(16);
                            line-height: mycalcSP(16);
                        }
                    }

                    .tax {
                        @include responsive((font-size: 12,
                                line-height: 16,
                            ));

                        @include mq(sp) {
                            font-size: mycalcSP(12);
                            line-height: mycalcSP(16);
                        }
                    }
                }
            }

            &_desc {
                letter-spacing: 0;
                @include responsive((margin-top: 16,
                        font-size: 13,
                        line-height: 18,
                    ));

                @include mq(sp) {
                    margin-top: mycalcSP(12);
                    margin-bottom: mycalcSP(8);
                    font-size: mycalcSP(13);
                    line-height: mycalcSP(18);
                }

                .option & {
                    margin-top: 0;
                    letter-spacing: 0;
                    @include responsive((font-size: 13,
                            line-height: 16,
                        ));

                    @include mq(sp) {
                        font-size: mycalcSP(13);
                        line-height: mycalcSP(16);
                        margin-bottom: 0;
                    }
                }

                &.description {
                    @include responsive((margin-bottom: 0,
                        ));

                    @include mq(sp) {
                        margin-bottom: mycalcSP(24);
                    }
                }

                small {
                    vertical-align: super;
                    @include responsive((font-size: 9,
                        ));

                    @include mq(sp) {
                        font-size: mycalcSP(9);
                    }
                }
            }

            &_price {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                order: -1;

                .option & {
                    order: 0;

                    @include mq(sp) {
                        width: auto;
                    }
                }
            }

            &_note {
                width: 100%;
                letter-spacing: 0;
                @include responsive((font-size: 8,
                        line-height: 18,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(8);
                    line-height: mycalcSP(18);
                }
            }
        }

        &_note {
            letter-spacing: 0;
            @include responsive((font-size: 12,
                    line-height: 24,
                    margin-top: 24,
                ));

            @include mq(sp) {
                font-size: mycalcSP(12);
                line-height: mycalcSP(24);
                margin-top: mycalcSP(40);
            }
        }
    }

    &_desc {
        width: 100%;
        border-top: 1px solid $c_border;
        @include responsive((margin-top: 64,
            ));

        @include mq(sp) {
            margin-top: mycalcSP(0);
            border-top: 0;
        }

        &_list {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            @include responsive((padding-top: 39));

            @include mq(sp) {
                flex-wrap: wrap;
                padding-top: 0;
                margin-bottom: mycalcSP(48);

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &_ttl {
                letter-spacing: 0;
                font-family: $f_en;
                flex-shrink: 0;
                @include responsive((width: 350,
                        font-size: 18,
                        line-height: 32,
                    ));

                @include mq(sp) {
                    width: 100%;
                    font-size: mycalcSP(20);
                    line-height: mycalcSP(32);
                    margin-bottom: mycalcSP(16);
                }
            }

            &_cnt {
                letter-spacing: 0;
                @include responsive((font-size: 14,
                        line-height: 28,
                    ));

                @include mq(sp) {
                    width: 100%;
                    font-size: mycalcSP(14);
                    line-height: mycalcSP(28);
                }

                p {
                    @include responsive((margin-bottom: 32));

                    @include mq(sp) {
                        margin-bottom: mycalcSP(16);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                li {
                    position: relative;
                    @include responsive((padding-left: 22));

                    @include mq(sp) {
                        padding-left: mycalcSP(24);
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        box-sizing: border-box;
                        border-radius: 50%;
                        background: $c_stone;
                        @include responsive((width: 4,
                                height: 4,
                                left: 9,
                                top: 13,
                            ));

                        @include mq(sp) {
                            width: mycalcSP(4);
                            height: mycalcSP(4);
                            left: mycalcSP(9);
                            top: mycalcSP(13);
                        }
                    }
                }
            }
        }
    }

    &_bg {
        pointer-events: none; // クリック要素の上に重なることで操作不能になるバグを回避
        display: none;
        position: fixed;
        z-index: -2;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        opacity: .001;
        background: rgba(0, 0, 0, .8);
        will-change: transform, opacity;
        transition: opacity 4s $e_curtain;

        &.active {
            z-index: -1;
            opacity: 1;
        }

        @include mq(sp) {
            z-index: 0;
        }

        &_img {
            position: absolute;
            max-width: none;
            top: 50%;
            left: 50%;
            @include responsive((width: 2700,
                    height: 1572,
                    margin-left: -1350,
                    margin-top: -786,
                ));

            @include mq(sp) {
                width: auto;
                height: 100%;
                top: 0;
                margin-top: 0;
                left: 0;
                margin-left: 0;
            }
        }
    }

    &_deco {
        &_figure {
            position: absolute;
            overflow: hidden;
            background: $c_gray;

            &.a {
                right: 50%;
                @include responsive((width: 252,
                        height: 364,
                        top: -404,
                        margin-right: -569,
                        border-radius: 160 160 160 160,
                    ));

                @include mq(sp) {
                    width: mycalcSP(198);
                    height: mycalcSP(286);
                    top: mycalcSP(-336);
                    bottom: auto;
                    margin-right: mycalcSP(-170);
                    border-radius: mycalcSP(160 160 160 160);
                }
            }

            &.b {
                right: 50%;
                @include responsive((width: 240,
                        height: 182,
                        top: -125,
                        margin-right: -376,
                        border-radius: 160 0 0 160,
                    ));

                @include mq(sp) {
                    width: mycalcSP(211);
                    height: mycalcSP(160);
                    top: mycalcSP(-120);
                    margin-right: mycalcSP(-40);
                    border-radius: mycalcSP(160 0 0 160);
                }
            }

            &_img {
                position: absolute;
                bottom: 0;
                right: 0;

                .a & {
                    @include responsive((width: 252,
                            height: 382,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(198);
                        height: mycalcSP(300);
                    }
                }

                .b & {
                    @include responsive((width: 240,
                            height: 212,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(211);
                        height: mycalcSP(186);
                    }
                }
            }
        }
    }
}


.top_dish {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    margin-top: calc((100vh - 804px) * -0.5 - 50vh);
    margin-bottom: calc((100vh - 804px) * -0.5 - 150vh);
    pointer-events: none; // デザインの都合上、information sectionと重なってしまうため追加

    @include mq(pc) {
        margin-top: calc((100vh - #{mycalc(804)}) * -0.5 - 50vh);
        margin-bottom: calc((100vh - #{mycalc(804)}) * -0.5 - 150vh);
    }

    @include mq(sp) {
        height: auto;
        margin-top: 0;
        margin-bottom: mycalcSP(-80);
    }

    .touch_device & {
        height: auto;
        margin-top: 0;
        margin-bottom: 0;

        @include mq(sp) {
            margin-bottom: mycalcSP(-80);
        }
    }

    .js-scroll-pin-wrap {
        position: relative;
        width: 100vw;
        height: 100vh;

        @include mq(sp) {
            height: auto;
            padding-top: 0;
        }

        .touch_device & {
            height: auto;
        }
    }

    .js-scroll-pin {
        display: flex;
        align-items: flex-start;
        position: absolute;
        padding-left: 100vw;
        padding-right: 100vw;
        padding-top: calc((100vh - 804px) * 0.5);
        box-sizing: content-box;
        @include responsive((height: 804, // スライダー画像の最上部から、最下部までのY座標の差
            ));

        @include mq(pc) {
            padding-top: calc((100vh - #{mycalc(804)}) * 0.5);
        }

        @include mq(sp) {
            height: auto;
            padding-left: 0;
            padding-right: 0;
            flex-flow: column;
            position: relative;
            align-items: flex-start;
        }

        .touch_device & {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
            position: relative;
        }
    }



    &_slider {
        width: auto;

        &_list {
            box-sizing: border-box;
            max-width: none;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            @include responsive((padding-right: 114));

            @include mq(sp) {
                padding-right: 0;
            }

            &_item {
                flex-shrink: 0;
                position: relative;

                &.a {
                    @include responsive((width: 840,
                            height: 560,
                            border-radius: 360 0 0 360,
                            margin-left: 114,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(360);
                        height: mycalcSP(240);
                        border-radius: mycalcSP(360 0 0 360);
                        margin-left: mycalcSP(104);
                    }
                }

                &.b {
                    @include responsive((width: 252,
                            height: 364,
                            border-radius: 160 160 160 160,
                            top: 440,
                            margin-left: 148,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(170);
                        height: mycalcSP(246);
                        margin-top: mycalcSP(-9);
                        top: 0;
                        margin-left: mycalcSP(16);
                    }
                }

                &.c {
                    @include responsive((width: 240,
                            height: 182,
                            border-radius: 160 0 0 160,
                            top: 326,
                            margin-left: 96,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(211);
                        height: mycalcSP(160);
                        border-radius: mycalcSP(160 0 0 160);
                        margin-top: mycalcSP(-123);
                        top: 0;
                        margin-left: mycalcSP(216);
                    }
                }

                &_figure {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    overflow: hidden;

                    .a & {
                        @include responsive((border-radius: 360 0 0 360,
                            ));

                        @include mq(sp) {
                            border-radius: mycalcSP(360 0 0 360);
                        }
                    }

                    .b & {
                        @include responsive((border-radius: 160 160 160 160,
                            ));

                        @include mq(sp) {
                            border-radius: mycalcSP(160 160 160 160);
                        }
                    }

                    .c & {
                        @include responsive((border-radius: 160 0 0 160,
                            ));

                        @include mq(sp) {
                            border-radius: mycalcSP(160 0 0 160);
                        }
                    }

                    &_img {
                        .a & {
                            @include responsive((width: 840,
                                    height: 640,
                                ));

                            @include mq(sp) {
                                width: mycalcSP(360);
                                height: mycalcSP(268);
                            }
                        }

                        .b & {
                            @include responsive((width: 252,
                                    height: 408,
                                ));

                            @include mq(sp) {
                                width: mycalcSP(170);
                                height: mycalcSP(274);
                            }
                        }

                        .c & {
                            @include responsive((width: 240,
                                    height: 240,
                                ));

                            @include mq(sp) {
                                width: mycalcSP(211);
                                height: mycalcSP(211);
                            }
                        }
                    }
                }
            }
        }
    }
}


.top_information {
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    @include responsive((padding-top: 360,
            padding-bottom: 320,
        ));

    @include mq(sp) {
        padding-top: mycalcSP(160);
        padding-bottom: mycalcSP(158);
    }

    &_bg {
        display: block;
        overflow: hidden;
        position: absolute;
        height: 100%;
        top: 0;
        left: 50%;
        z-index: -4;
        // transition: border-radius .8s $e_curtain, transform .8s $e_curtain;
        background: $c_beige_light;
        border-radius: 2350px 2350px 2350px 2350px / 1240px 1240px 1240px 1240px;
        box-shadow: inset 64px 64px 160px rgba(0, 0, 0, 0.1);
        transform: translateX(-50%);
        @include responsive((width: 2400,
            ));

        @include mq(pc) {
            border-radius: #{mycalc(2350 2350)} / #{mycalc(1240 1240)};
            box-shadow: inset #{mycalc(64 64 160)} rgba(0, 0, 0, 0.1);
        }

        @include mq(sp) {
            border-radius: #{mycalcSP(2400)} / #{mycalcSP(1100)};
            box-shadow: inset #{mycalcSP(64 64 160)} rgba(0, 0, 0, 0.1);
        }

        /*
      &.is-active {
        transform: translateX(-50%) translateY(0) scaleY(.9);
        border-radius: 2350px 2350px 2350px 2350px / 1240px 1240px 0 0;
      }
  
      &.is-shown {
        transform: translateX(-50%) translateY(0) scaleY(1);
        border-radius: 2350px 2350px 2350px 2350px / 1240px 1240px 1240px 1240px;
      }
      */
    }
}


.top_news {
    width: 100%;
    @include responsive((padding-bottom: 184,
        ));

    @include mq(sp) {
        padding-bottom: mycalcSP(136);
        position: relative;
    }

    &_ttl {
        margin: 0 auto;
        @include responsive((width: 1138,
                margin-bottom: 64,
            ));

        @include mq(sp) {
            width: 100%;
            box-sizing: border-box;
            padding: mycalcSP(0 24);
            margin-bottom: mycalcSP(64);
        }
    }

    &_inner {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0 auto;
        box-sizing: border-box;
        @include responsive((width: 1138));

        @include mq(sp) {
            width: 100%;
            padding: mycalcSP(0 24);
        }
    }

    &_list {
        margin-right: 0;
        margin-left: auto;
        @include responsive((width: 787,
            ));

        @include mq(sp) {
            width: 100%;
        }
    }

    .btn {
        margin: 0;

        @include mq(sp) {
            margin: mycalcSP(56 auto 0);
        }
    }

    &_bg {
        position: absolute;
        right: 50%;
        z-index: -1;
        @include responsive((width: 2400,
                height: 1396,
                bottom: -52,
                margin-right: -2884,
            ));

        @include mq(sp) {
            width: mycalcSP(94);
            height: mycalcSP(559);
            bottom: mycalcSP(618);
            margin-right: mycalcSP(-195);
        }

        &_img {
            width: 100%;
            height: 100%;
        }
    }
}


.top_gift {
    width: 100%;

    &_inner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0 auto;
        box-sizing: border-box;
        @include responsive((width: 1138,
                padding-right: 174,
            ));

        @include mq(sp) {
            width: 100%;
            padding: mycalcSP(0 24);
            flex-flow: column;
            align-items: center;
        }

        &_bg {
            position: absolute;
            left: 50%;
            z-index: -1;
            @include responsive((width: 640,
                    height: 662,
                    bottom: 0,
                    margin-left: -720,
                ));

            @include mq(sp) {
                width: mycalcSP(185);
                height: mycalcSP(349);
                bottom: mycalcSP(428);
                margin-left: mycalcSP(-195);
            }

            &_img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &_content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-flow: column;
        @include responsive((width: 496,
            ));

        @include mq(sp) {
            width: mycalcSP(278);
            margin: 0 auto;
        }
    }

    &_ttl {
        @include responsive((margin-bottom: 64,
            ));

        @include mq(sp) {
            margin-bottom: mycalcSP(64);
            align-self: flex-start;
        }
    }

    &_desc {
        align-self: center;
        letter-spacing: 0;
        @include responsive((font-size: 18,
                line-height: 40,
            ));

        @include mq(sp) {
            font-size: mycalcSP(16);
            line-height: mycalcSP(40);
        }

        &:first-of-type {
            @include responsive((padding-right: 46,
                ));

            @include mq(sp) {
                padding-right: mycalcSP(50);
            }
        }

        &:last-of-type {
            @include responsive((padding-left: 62,
                ));

            @include mq(sp) {
                padding-left: mycalcSP(50);
            }
        }
    }

    .btn {
        align-self: flex-end;
        @include responsive((margin-top: 48,
            ));

        @include mq(sp) {
            align-self: center;
            margin-top: mycalcSP(64);
        }
    }

    &_figure {
        order: -1;
        overflow: hidden;
        position: relative;
        border-radius: 160px / 146px;
        @include responsive((width: 320,
                height: 446,
                margin-right: 148,
            ));

        @include mq(pc) {
            border-radius: #{mycalc(160)} / #{mycalc(146)};
        }

        @include mq(sp) {
            width: mycalcSP(240);
            height: mycalcSP(334);
            margin: mycalcSP(0 auto 64);
            border-radius: #{mycalcSP(160)} / #{mycalcSP(146)};
        }

        &_img {
            position: absolute;
            bottom: 0;
            right: 0;
            @include responsive((width: 320,
                    height: 496,
                ));

            @include mq(sp) {
                width: mycalcSP(240);
                height: mycalcSP(372);
            }
        }
    }

    &_bg {
        position: absolute;
        left: 50%;
        z-index: -2;
        @include responsive((width: 2400,
                height: 1396,
                bottom: -920,
                margin-left: -2064,
            ));

        @include mq(sp) {
            width: mycalcSP(366);
            height: mycalcSP(678);
            bottom: mycalcSP(2);
            margin-left: mycalcSP(-195);
        }

        &_img {
            width: 100%;
            height: 100%;
        }
    }
}


.top_access {
    width: 100%;
    position: relative;
    @include responsive((padding-top: 320,
            padding-bottom: 320,
        ));

    @include mq(sp) {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: mycalcSP(136);
        padding-bottom: mycalcSP(132);
    }

    &_content {
        margin: 0 auto;
        position: relative;
        @include responsive((width: 1140,
            ));

        @include mq(sp) {
            order: 1;
            width: 100%;
            padding: mycalcSP(0 24);
            box-sizing: border-box;
        }
    }

    &_ttl {
        @include responsive((width: 1140,
                margin: 0 auto 200,
            ));

        @include mq(sp) {
            order: -1;
            width: 100%;
            padding: mycalcSP(0 24);
            box-sizing: border-box;
            margin-bottom: mycalcSP(64);
        }
    }

    &_outline {
        @include responsive((width: 670,
                padding-left: 118,
            ));

        @include mq(sp) {
            width: 100%;
            padding-left: 0;
        }

        &_list {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            border-bottom: 1px solid $c_border;
            @include responsive((padding-bottom: 31,
                    margin-bottom: 32,
                ));

            @include mq(sp) {
                padding-bottom: mycalcSP(31);
                margin-bottom: mycalcSP(32);
                flex-wrap: wrap;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &_ttl {
                flex-shrink: 0;
                letter-spacing: 0;
                @include responsive((width: 117,
                        font-size: 17,
                        line-height: 24,
                    ));

                @include mq(sp) {
                    width: 100%;
                    font-size: mycalcSP(15);
                    line-height: mycalcSP(24);
                    margin-bottom: mycalcSP(16);
                }
            }

            &_cnt {
                letter-spacing: 0;
                @include responsive((font-size: 16,
                        line-height: 32,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(15);
                    line-height: mycalcSP(32);
                }

                small {
                    display: inline-block;
                    @include responsive((font-size: 14,
                            line-height: 28,
                        ));

                    @include mq(sp) {
                        font-size: mycalcSP(14);
                        line-height: mycalcSP(28);
                    }
                }
            }
        }

        .btn {
            display: block;
            @include responsive((margin-top: 22,
                ));

            @include mq(sp) {
                margin-top: mycalcSP(16);
            }

            &_link {
                @include responsive((padding: 14 84,
                    ));

                @include mq(sp) {
                    padding: mycalcSP(17 84);
                }

                &_txt {
                    @include mq(sp) {
                        font-size: mycalcSP(14);
                        line-height: mycalcSP(14);
                    }
                }
            }
        }
    }

    &_figure {
        overflow: hidden;
        width: 100%;
        height: 100%;
        will-change: transform;
        @include responsive((border-radius: 218 218 0 0,
            ));

        @include mq(sp) {
            border-radius: mycalcSP(218 218 0 0);
        }

        &_img {
            max-width: none;
            position: absolute;
            top: 0;
            will-change: transform;
            @include responsive((width: 1080,
                    height: 720,
                    right: -375,
                ));

            @include mq(sp) {
                width: mycalcSP(594);
                height: mycalcSP(396);
                right: mycalcSP(-220);
            }
        }

        &_wrap {
            position: absolute;
            right: 50%;
            z-index: 0;
            @include responsive((width: 436,
                    height: 720,
                    margin-right: -686,
                    top: 322,
                    border-radius: 218 218 0 0,
                ));

            @include mq(sp) {
                position: relative;
                order: 0;
                width: mycalcSP(240);
                height: mycalcSP(396);
                right: 0;
                top: 0;
                margin-right: mycalcSP(35);
                margin-bottom: mycalcSP(64);
            }

            &:before {
                content: "";
                display: block;
                opacity: .5;
                background: $c_white;
                position: absolute;
                z-index: -2;
                @include responsive((width: 1263,
                        height: 592,
                        left: -118,
                        top: 62,
                    ));

                @include mq(sp) {
                    width: mycalcSP(366);
                    height: mycalcSP(268);
                    left: mycalcSP(-90);
                    margin-right: 0;
                    top: mycalcSP(64);
                }
            }
        }

        /*
      &_bg {
        position: absolute;
        z-index: -1;
        right: 50%;
        @include responsive((
          width: 1138,
          height: 528,
          top: 416,
          margin-right: -804,
        ));
        @include mq(sp) {
          width: mycalcSP(390);
          height: mycalcSP(348);
          top: mycalcSP(112);
          right: 0;
          margin-right: 0;
        }
  
      }
      */
    }

    &_bg {
        position: absolute;
        left: 50%;
        bottom: 50%;
        z-index: -1;
        @include responsive((width: 1080,
                height: 800,
                margin-bottom: -388,
                margin-left: -862,
            ));

        @include mq(sp) {
            width: mycalcSP(334);
            height: mycalcSP(400);
            margin-bottom: mycalcSP(-242);
            margin-left: mycalcSP(-195);
        }

        &_img {
            width: 100%;
            height: 100%;
        }
    }
}


.shape_arch {
    &.pc_disp {
        @include minq(sp) {
            display: block;
        }
    }

    &.sp_disp {
        @include mq(sp) {
            display: block;
        }
    }
}


.shape_arch_bg {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translateX(-50%);
}








// 2023/04/03


.main_container {
    isolation: isolate;
}