/*
 * archive.scss
 *
 * 記事一覧用コンポーネント
 */


.archive {
    @include responsive((margin-bottom: 120,
        ));

    @include mq(sp) {
        margin-bottom: mycalcSP(96);
    }

    &_list {
        width: 100%;
        box-sizing: border-box;

        @include mq(sp) {
            padding: 0;
        }

        &_item {
            box-sizing: border-box;
            border-bottom: 1px solid $c_gray;
            @include responsive((padding-bottom: 27,
                    margin-bottom: 48,
                ));

            @include mq(sp) {
                padding-bottom: mycalcSP(32);
                margin-bottom: mycalcSP(32);

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &_link {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;

                @include mq(sp) {
                    flex-wrap: wrap;
                }
            }

            .time {
                flex-shrink: 0;
                font-family: $f_en;
                letter-spacing: .1em;
                @include responsive((width: 120,
                        font-size: 16,
                        line-height: 24,
                        margin-right: 15,
                    ));

                @include mq(sp) {
                    width: mycalcSP(98);
                    font-size: mycalcSP(15);
                    line-height: mycalcSP(20);
                    margin-right: mycalcSP(0);
                }
            }

            .tags {
                flex-shrink: 0;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                width: auto;
                @include responsive((margin-bottom: 8,
                    ));

                @include mq(sp) {
                    margin-top: 0;
                }
            }

            .tag {
                letter-spacing: 0;
                display: inline-block;
                position: relative;
                @include responsive((font-size: 14,
                        line-height: 24,
                        margin-right: 24,
                        margin-bottom: 16,
                        padding-left: 14,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(13);
                    line-height: mycalcSP(18);
                    margin-right: mycalcSP(24);
                    margin-bottom: mycalcSP(16);
                    padding-left: mycalcSP(14);
                }

                &:before {
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    background: $c_brown;
                    left: 0;
                    @include responsive((width: 6,
                            height: 6,
                            top: 8,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(6);
                        height: mycalcSP(6);
                        top: mycalcSP(5);
                    }
                }
            }

            .title {
                width: 100%;
                letter-spacing: 0;
                @include responsive((min-height: 40,
                        font-size: 16,
                        line-height: 20,
                        padding-left: 135,
                    ));

                @include mq(sp) {
                    width: 100%;
                    font-size: mycalcSP(15);
                    line-height: mycalcSP(20);
                    padding-left: 0;
                    display: block;
                }
            }

            &_link:hover {
                .title {
                    text-decoration: underline;
                }
            }
        }
    }

    &_card {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        //flex-wrap: wrap;


    }
}