/*
 * btn.scss
 *
 * ボタン用コンポーネント
 * 定義する際は、接頭辞としてbtn_を付けること。
 */


.btn {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    @include responsive((margin-top: 48,
        ));

    @include mq(sp) {
        margin-top: mycalcSP(56)
    }

    &_link {
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 0;
        color: $c_text;
        font-family: $f_en;
        width: 100%;
        height: 100%;
        border-top: 1px solid transparent;
        border-bottom: 1px solid $c_brown;
        transition: border-top-color $t_btn, border-bottom-color $t_btn;
        @include responsive((padding: 24 88,
                border-radius: 40,
            ));

        @include mq(sp) {
            padding: mycalcSP(25 88);
            border-radius: mycalcSP(40);
        }

        &_txt {
            position: relative;
            z-index: 1;
            letter-spacing: 0.05em;
            @include responsive((font-size: 15,
                    line-height: 15,
                ));

            @include mq(sp) {
                font-size: mycalcSP(14);
                line-height: mycalcSP(14);
            }

            .prev & {
                transform: scaleX(-1);
            }
        }

        .ico_sphere {
            position: absolute;
            top: 50%;
            transform-origin: left center;
            transition: transform $t_btn;

            @include responsive((width: 16,
                    height: 16,
                    margin-top: -8,
                    right: 32,
                ));

            @include mq(sp) {
                width: mycalcSP(16);
                height: mycalcSP(16);
                margin-top: mycalcSP(-8);
                right: mycalcSP(40);
            }

            path {
                transition: opacity $t_btn, stroke-dashoffset $t_btn;
                stroke-dashoffset: 0;
                @include responsive((stroke-dasharray: 40,
                    ));

                @include mq(sp) {
                    stroke-dasharray: mycalcSP(40);
                }
            }
        }

        .ico_mail {
            @include responsive((width: 24,
                    height: 24,
                    margin-right: 4,
                ));

            @include mq(sp) {
                width: mycalcSP(20);
                height: mycalcSP(20);
                margin-right: mycalcSP(8);
            }

            path {
                fill: $c_white;
                transition: fill $t_slide .2s;
                transition-delay: 0s;
            }
        }

        .prev & {
            transform: scaleX(-1);
        }

        &:hover {
            border-top-color: $c_brown;
            border-bottom-color: transparent;

            .ico_circle {
                transform: scale(1.066);

                circle {
                    opacity: 1;
                    @include responsive((stroke-dashoffset: 760,
                        ));

                    @include mq(sp) {
                        stroke-dashoffset: mycalcSP(760);
                    }
                }
            }

            .ico_arw {
                transform: scaleX(1.06);

                path {
                    @include responsive((stroke-dashoffset: -80,
                        ));

                    @include mq(sp) {
                        stroke-dashoffset: mycalcSP(-80);
                    }
                }
            }
        }
    }

    &.white {
        background: $c_white;
        border-color: $c_white;

        &:after {
            background: $c_brown;
        }
    }

    &.white &_link {
        @include textGradient($c_text, $c_text, '.btn_link_txt', $p_slide, .1s);
        color: $c_text;

        .ico_arw path {
            fill: $c_brown;
        }
    }

    &_back_link {
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 0;
        color: $c_text;
        letter-spacing: 0;
        height: 100%;
        @include responsive((padding-top: 4,
                padding-left: 48,
            ));

        @include mq(sp) {
            padding-top: 0;
            padding-left: mycalcSP(40);
        }

        svg {
            z-index: 1;
        }

        .ico_arw {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(180deg);
            @include responsive((width: 32,
                    height: 32,
                ));

            @include mq(sp) {
                width: mycalcSP(24);
                height: mycalcSP(24);
            }

            path {
                stroke-dashoffset: 0;
                stroke-dasharray: 24px;
            }
        }

        .ico_mail {
            @include responsive((width: 24,
                    height: 24,
                    margin-right: 4,
                ));

            @include mq(sp) {
                width: mycalcSP(20);
                height: mycalcSP(20);
                margin-right: mycalcSP(4);
            }

            path {
                fill: $c_white;
                transition: fill $t_slide .2s;
                transition-delay: 0s;
            }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            border-bottom: 1px solid $c_border;
            transition: width $t_slide;
        }

        &:before {
            width: 0;
            left: 0;
        }

        &:after {
            width: 100%;
            right: 0;
        }


        &:hover {
            color: $c_text;

            .ico_arw {
                path {
                    transition: stroke-dashoffset ($p_hv + 0.2s)*3 $e_slot;
                    stroke-dashoffset: -48px;
                }
            }

            &:before {
                width: 100%;
                right: 0;
                left: auto;
                transition-delay: $p_hv + .2s;
            }

            &:after {
                width: 0;
                left: 0;
                right: auto;
            }
        }
    }

    &_wrap {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}

.btn_round {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    background: transparent;
    border: 1px solid $c_inc_black;
    transition: color $t_slide;
    overflow: hidden;
    margin: 0 auto;
    @include responsive((width: 385,
            height: 84,
            border-width: 1,
            border-radius: 42,
        ));

    @include mq(sp) {
        width: mycalcSP(340);
        height: mycalcSP(84);
        border-width: mycalcSP(1);
        border-radius: mycalcSP(42);
    }

    &_link {
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 0;
        color: $c_white;
        letter-spacing: 0;
        @include textGradient($c_white, $c_inc_black, '.btn_round_link_txt', $p_slide, .1s);
        @include responsive((border-radius: 42,
            ));

        @include mq(sp) {
            border-radius: mycalcSP(42);
        }

        &_txt {
            position: relative;
            z-index: 1;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: .05em;
            font-family: $f_en;
            @include responsive((font-size: 20,
                    line-height: 20,
                ));

            @include mq(sp) {
                font-size: mycalcSP(16);
                line-height: mycalcSP(16);
            }
        }

        svg {
            z-index: 1;
        }

        .ico_arw {
            position: absolute;
            @include responsive((width: 20,
                    height: 20,
                    right: 68,
                ));

            @include mq(sp) {
                width: mycalcSP(20);
                height: mycalcSP(20);
                right: mycalcSP(60);
            }

            path {
                stroke: $c_white;
                transition: stroke $t_slide .2s;
            }
        }

        &:after {
            content: "";
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: $c_white;
            transition: width $t_slide, left $t_slide, background-color $t_curtain;
            z-index: 0;
            @include responsive((border-radius: 48,
                ));

            @include mq(sp) {
                border-radius: mycalcSP(48);
            }
        }

        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }

            path {
                stroke: $c_inc_black;
            }
        }
    }

    &.white {
        background: $c_white;
        border-color: $c_white;

        &:after {
            background: $c_inc_black;
        }
    }

    &.white &_link {
        @include textGradient($c_text, $c_text, '.btn_link_txt', $p_slide, .1s);
        color: $c_text;

        .ico_arw path {
            fill: $c_brown;
        }
    }
}


.btn_circle {
    position: relative;
    box-sizing: border-box;
    background: $c_brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform $t_scroll;
    margin: 0 auto;
    @include responsive((width: 240,
            height: 240,
        ));

    @include mq(sp) {
        width: mycalcSP(240);
        height: mycalcSP(240);
    }

    &_link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: $c_white;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        letter-spacing: 0;
        font-weight: bold;
        font-family: $f_en;
        position: relative;
        box-sizing: border-box;
        z-index: 0;
        overflow: hidden;
        @include responsive((font-size: 16,
                line-height: 24,
            ));

        @include mq(sp) {
            font-size: mycalcSP(14);
            line-height: mycalcSP(24);
        }

        &_txt {
            letter-spacing: .1em;
            font-weight: inherit;
            position: relative;
            z-index: 1;
        }

        .ico_arw {
            @include responsive((width: 32,
                    height: 8,
                    margin-top: 24,
                ));

            @include mq(sp) {
                width: mycalcSP(32);
                height: mycalcSP(8);
                margin-top: mycalcSP(12);
            }

            path {
                stroke: $c_white;
            }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            border-radius: 50%;
            box-sizing: border-box;
            border: $c_brown solid;
            transition: border-width $t_btn;
            @include responsive((width: 260,
                    height: 260,
                    border-width: 0,
                    margin-top: -130,
                    margin-left: -130,
                ));
        }

        &:after {
            border-color: $c_brown;
            @include responsive((border-width: 130,
                ));
        }

        &:hover {
            &:before {
                @include responsive((border-width: 130,
                    ));
            }

            &:after {
                @include responsive((border-width: 0,
                    ));
            }
        }

    }
}


.mail {
    background: $c_white;
    @include responsive((width: 200,
            height: 56,
        ));

    @include mq(sp) {
        width: mycalcSP(320);
        height: mycalcSP(56);
    }

    &_link {
        @include textGradient($c_brown, $c_white, '.btn_link_txt', $p_slide, .1s);
        color: $c_brown;

        .ico_mail {
            @include responsive((width: 24,
                    height: 24,
                    margin-right: 4,
                ));

            @include mq(sp) {
                width: mycalcSP(20);
                height: mycalcSP(20);
                margin-right: mycalcSP(8);
            }

            path {
                fill: $c_brown;
                transition: fill $t_slide .01s;
            }
        }

        &:hover .ico_mail path {
            fill: $c_white;
        }

        &_txt {
            @include responsive((font-size: 16,
                    line-height: 24,
                ));

            @include mq(sp) {
                font-size: mycalcSP(16);
                line-height: mycalcSP(24);
            }

            &_way {
                font-weight: inherit;
            }
        }


        &:after {
            background: $c_brown;

            .studio & {
                background: $c_brand;
            }

            .academy & {
                background: $c_brand;
            }
        }
    }
}


.sns {
    &_list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;

        &_item {
            @include responsive((width: 20,
                    height: 20,
                    margin-top: 16,
                ));

            @include mq(sp) {
                width: mycalcSP(20);
                height: mycalcSP(20);
                margin-top: mycalcSP(16);
            }

            &:first-child {
                margin-top: 0;
            }

            &_link {
                display: block;
                width: 100%;
                height: 100%;

                img,
                svg {
                    display: block;
                    width: 100%;
                    height: auto;
                    max-width: none;
                }
            }
        }
    }
}

.lang {
    &_list {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &_item {
            @include responsive((width: 20,
                    height: 20,
                    margin-left: 10,
                ));

            @include mq(sp) {
                width: mycalcSP(20);
                height: mycalcSP(20);
                margin-left: mycalcSP(10);
            }

            &:before {
                content: '/';
                font-family: $f_en;
                position: absolute;
                color: $c_white;
                top: 50%;
                @include responsive((font-size: 16,
                        line-height: 16,
                        left: 18,
                        margin-top: -10,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(16);
                    line-height: mycalcSP(16);
                    left: mycalcSP(18);
                    margin-top: mycalcSP(-10);
                }
            }

            &:first-child {
                margin-left: 0;

                &:before {
                    content: none;
                }
            }

            &_link {
                display: block;
                width: 100%;
                height: 100%;
                color: $c_white;
                font-family: $f_en;
                letter-spacing: 0;
                @include responsive((font-size: 16,
                        line-height: 16,
                    ));

                @include mq(sp) {
                    font-size: mycalcSP(16);
                    line-height: mycalcSP(16);
                }

                img,
                svg {
                    display: block;
                    width: 100%;
                    height: auto;
                    max-width: none;
                }
            }
        }
    }
}