// cursor styling

/*
html,
body,
a{
  cursor: none;
}
*/

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100px, -100px);
    will-change: transform;
    pointer-events: none;
    //mix-blend-mode: exclusion;
    mix-blend-mode: difference;
    z-index: 1002;

    // ポインター用の要素は、画面の左上に位置するよう設定
    &_leader,
    &_filled,
    &_follower {
        border-radius: 50%;
        display: block;
        cursor: none;
        pointer-events: none;
        //mix-blend-mode: exclusion;
        mix-blend-mode: difference;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
    }

    &_leader {
        width: 0;
        height: 0;
        border: 1px solid transparent;
        z-index: 1001;
        transition: width .4s $e_curtain, height .4s $e_curtain, padding .4s $e_curtain, transform .4s $e_curtain, border .4s $e_curtain;
    }

    &_filled {
        width: 0;
        height: 0;
        background: $c_white;
        z-index: 1002;
        transition: width .4s $e_curtain, height .4s $e_curtain, padding .4s $e_curtain, transform .4s $e_curtain;
    }

    &_follower {
        z-index: 1000;
        background: $c_white;
        mix-blend-mode: overlay;
        opacity: 0.5;
        filter: blur(75px);
        top: 0;
        left: 0;
        transition: transform linear .4s;
        @include responsive((width: 480,
                height: 480,
            ));
    }

    &.active {
        .cursor_leader {
            width: 40px;
            height: 40px;
            border: 1px solid $c_white;
        }
    }

    &.active_circle {
        .cursor_leader {
            width: 40px;
            height: 40px;
            background: $c_black;
            border: 1px solid $c_white;
            opacity: .8;
        }
    }
}