/*
 * header.scss
 *
 * ヘッダー用コンポーネント
 */

.header {
    width: 100vw;
    position: fixed;
    z-index: 101;
    transition: transform $t_fade, background-color $t_fade;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0;
}


.header_logo {
    flex-shrink: 0;
    opacity: 1;
    z-index: 10;
    transition: transform $t_fade, opacity $t_fade;
    transform-origin: left center;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    @include responsive((height: 28,
            padding-top: 40,
            padding-left: 40,
        ));

    @include mq(sp) {
        height: mycalcSP(24);
        top: mycalcSP(44);
        left: mycalcSP(24);
        padding: 0;
        transform-origin: left top;
        transition: transform $t_fade 0s, opacity $t_fade .2s;
    }

    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        picture,
        svg,
        img {
            max-width: none;
            width: auto;
            height: 100%;
            display: block;
        }
    }

    .ico_logo path {
        fill: $c_inc_black;
        transition: fill $t_curtain;

        .open &,
        .negative & {
            fill: $c_white;
        }
    }

    .scrolled & {
        transform: scale(.75);

        @include mq(sp) {
            opacity: 0;
            pointer-events: none;
        }
    }

    .loading .scrolled & {
        transform: scale(1); // ページ遷移時のループ挙動を回避
    }
}


.header_reserve {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    right: 0;
    top: 50%;
    overflow: hidden;
    border: 1px solid $c_inc_black;
    transition: border-color $t_curtain;
    @include responsive((width: 104,
            height: 400,
            border-radius: 32 0 0 32,
            margin-top: -200,
        ));

    @include mq(sp) {
        width: mycalcSP(320);
        height: mycalcSP(64);
        border-radius: mycalcSP(32 32 0 0);
        margin-top: 0;
        top: auto;
        bottom: 0;
        right: 50%;
        margin-right: mycalcSP(-160);
        border-bottom: 0;

        .header>& {
            display: none;
        }
    }

    .header_nav & {
        @include mq(sp) {
            position: relative;
            margin-top: mycalcSP(32);
        }

        @include minq(sp) {
            display: none;
        }
    }

    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
        // @include textGradient($c_inc_black, $c_white, '.header_reserve_link_txt', $p_slide, .1s);

        @include mq(sp) {
            .header_nav & {
                background: $c_stone;
            }
        }

        &_txt {
            color: $c_inc_black;
            letter-spacing: 0;
            display: block;
            font-family: $f_en;
            z-index: 1;
            transition: color $t_curtain;

            @include responsive((font-size: 16,
                    line-height: 16,
                ));

            @include mq(sp) {
                font-size: mycalcSP(16);
                line-height: mycalcSP(16);

                br {
                    display: none;
                }
            }
        }

        &:after {
            content: "";
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: $c_inc_black;
            transition: width $t_slide, left $t_slide, background $t_curtain;
            z-index: 0;
        }

        &:hover {
            &:after {
                width: 100%;
                left: 0;
            }

            .header_reserve_link_txt {
                color: $c_white;
            }
        }
    }

    &.negative,
    .negative &,
    .open & {
        border-color: $c_white;

        .header_reserve_link {

            &:after {
                background: $c_white;
            }

            .header_reserve_link_txt {
                color: $c_white;

                @include mq(sp) {
                    color: $c_inc_black;
                }
            }

            &:hover {
                .header_reserve_link_txt {
                    color: $c_inc_black;
                }
            }
        }
    }

}


.header_bottom {

    .sns {
        position: fixed;
        @include responsive((right: 62,
                bottom: 96,
            ));

        @include mq(sp) {
            display: none;
        }

        path {
            stroke: $c_inc_black;
            transition: stroke $t_curtain;
        }
    }

    .lang {
        position: fixed;
        @include responsive((right: 48,
                bottom: 36,
            ));

        @include mq(sp) {
            display: none;
        }

        &_list_item:before,
        &_list_item_link {
            color: $c_inc_black;
            transition: color $t_curtain;

            .negative & {
                color: $c_white;
            }
        }
    }

    &.negative,
    .negative &,
    .open & {
        .sns path {
            stroke: $c_white;
        }

        .lang {

            &_list_item:before,
            &_list_item_link {
                color: $c_white;
            }
        }
    }
}


.header_nav {
    width: calc(100vw - 208px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;

    @include mq(pc) {
        width: calc(100vw - #{mycalc(208)});
    }

    @include mq(sp) {
        width: 100vw;
        height: 100vh; // fallback
        height: calc((var(--vh, 1vh) * 100));
        height: 100dvh;
        padding-top: mycalcSP(88);
        box-sizing: border-box;
        top: 0;
        justify-content: space-between;
        overflow-y: scroll;
    }

    &_logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @include responsive((height: 32,
                padding-top: 24,
            ));

        @include mq(sp) {
            display: none;
        }

        &_link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;

            @include responsive((height: 32,
                ));

            @include mq(sp) {
                height: mycalcSP(24);
                top: mycalcSP(44);
                left: mycalcSP(24);
                padding: 0;
                transform-origin: left top;
                transition: transform $t_fade 0s, opacity $t_fade .2s;
            }

            picture,
            svg,
            img {
                max-width: none;
                width: auto;
                height: 100%;
                display: block;
            }
        }
    }

    &_menu {
        @include responsive((margin: 140 auto 128,
            ));

        @include mq(sp) {
            margin: mycalcSP(56 auto 60);
        }
    }

    &_list {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;

        @include mq(sp) {
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
        }

        &_item {
            overflow: hidden;
            @include responsive((margin: 32,
                ));

            @include mq(sp) {
                margin: 0;
                margin-bottom: mycalcSP(32);
            }

            &_link {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: nowrap;
                transform: translate(0, 100%);
                transition: opacity $t_btn;

                &_txt {
                    letter-spacing: 0;
                    font-family: $f_special;
                    color: $c_white;
                    overflow: hidden;
                    @include responsive((font-size: 96,
                            line-height: 96,
                        ));

                    @include mq(sp) {
                        font-size: mycalcSP(26);
                        line-height: mycalcSP(26);
                    }
                }

                &:hover {
                    opacity: .3;
                }

                .ico_arw {
                    position: relative;
                    @include responsive((width: 48,
                            height: 48,
                            top: 8,
                            left: 2,
                        ));

                    @include mq(sp) {
                        width: mycalcSP(16);
                        height: mycalcSP(16);
                        top: 0;
                        left: 0;
                    }

                    path {
                        stroke: $c_white;
                    }
                }
            }
        }
    }

    &_bottom {
        @include mq(sp) {
            display: flex;
            flex-flow: column;
        }

        &_list {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;

            @include mq(sp) {
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
            }

            &_item {
                overflow: hidden;
                @include responsive((margin: 16,
                    ));

                @include mq(sp) {
                    margin: 0;
                    margin-bottom: mycalcSP(16);
                }

                &_link {
                    transform: translate(0, 100%);
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                    transition: opacity $t_btn;

                    &_txt {
                        letter-spacing: 0;
                        font-family: $f_special;
                        color: $c_white;
                        @include responsive((font-size: 36,
                                line-height: 36,
                            ));

                        @include mq(sp) {
                            font-size: mycalcSP(16);
                            line-height: mycalcSP(16);
                        }
                    }

                    &:hover {
                        opacity: .3;
                    }
                }
            }
        }

        .sns,
        .lang {
            display: none;

            @include mq(sp) {
                display: block;
                position: absolute;

                path {
                    stroke: $c_white;
                }
            }
        }

        .sns {
            @include mq(sp) {
                right: mycalcSP(24);
                bottom: mycalcSP(96);
            }

            &_list {
                &_item {
                    @include mq(sp) {
                        overflow: hidden;
                    }
                }
            }
        }

        .lang {
            @include mq(sp) {
                display: none;
                overflow: hidden;
                position: relative;
                right: 0;
                margin-right: 0;
                bottom: 0;
                margin-top: mycalcSP(48);
            }

            &_list {
                @include mq(sp) {
                    justify-content: center;
                }

                &_item {
                    @include mq(sp) {
                        position: relative;
                    }

                    &:before {
                        @include mq(sp) {
                            left: mycalcSP(-10);
                        }
                    }
                }
            }
        }
    }
}


.hum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    order: 1;
    z-index: 105;
    @include responsive((width: 64,
            height: 64,
            top: 40,
            right: 40,
        ));

    @include mq(sp) {
        width: mycalcSP(64);
        height: mycalcSP(64);
        top: mycalcSP(24);
        right: mycalcSP(16);
    }

    &_circle {
        display: block;
        position: absolute;
        @include responsive((width: 66,
                height: 66,
                top: -2,
                right: -2,
            ));

        @include mq(sp) {
            width: mycalcSP(66);
            height: mycalcSP(66);
            top: mycalcSP(-1);
            right: mycalcSP(-1);
        }

        .ico_circle {
            width: 100%;
            height: 100%;

            circle {
                transition: opacity $t_btn, stroke-dashoffset $t_btn, stroke $t_curtain;
                stroke: $c_inc_black;
                opacity: 1;

                .open &,
                .negative & {
                    stroke: $c_white;
                }
            }
        }

        &.shadow {
            transition: transform $t_btn;

            .ico_circle {
                circle {
                    @include responsive((stroke-dashoffset: 420,
                            stroke-dasharray: 420,
                        ));

                    @include mq(sp) {
                        stroke-dashoffset: mycalcSP(420);
                        stroke-dasharray: mycalcSP(420);
                    }
                }
            }
        }
    }

    &_bar {
        position: absolute;
        top: 50%;
        right: 50%;
        @include responsive((width: 24,
                height: 7,
                margin-top: -3,
                margin-right: -12,
            ));

        @include mq(sp) {
            width: mycalcSP(24);
            height: mycalcSP(7);
            margin-top: mycalcSP(-3);
            margin-right: mycalcSP(-12);
        }

        &_u,
        &_b {
            position: absolute;
            width: 100%;
            right: 0;
            transition: transform $t_btn;

            @include responsive((height: 2,
                ));

            @include mq(sp) {
                height: mycalcSP(2);
            }

            .ico_border {
                width: 100%;
                height: 100%;
                display: block;

                path {
                    stroke: $c_inc_black;
                    transition: opacity $t_btn, stroke-dashoffset $t_btn, stroke $t_curtain;
                    stroke-dashoffset: 0;
                    @include responsive((stroke-dasharray: 24,
                        ));

                    @include mq(sp) {
                        stroke-dasharray: mycalcSP(24);
                    }

                    .negative & {
                        stroke: $c_white;
                    }
                }
            }
        }

        &_u {
            top: 0;
        }

        &_b {
            bottom: 0;

            .ico_border path {
                transition-delay: .1s;
            }
        }
    }

    &_bg {
        content: "";
        display: block;
        position: fixed;
        background: $c_stone;
        z-index: 2;
        //transition: clip-path .4s;
        will-change: transform, clip-path;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform-origin: center center;
        visibility: hidden;
        opacity: 0;

        &_filter {
            z-index: -1;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: $c_black;
            opacity: 1;
            top: 0;
            left: 0;

            @include mq(sp) {
                opacity: .8;
            }
        }

        &_square {
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            @include responsive((width: 1920,
                    height: 1080,
                    margin-top: -540,
                    margin-left: -960,
                ));

            @include mq(sp) {
                width: mycalcSP(390);
                height: mycalcSP(844);
                margin-top: mycalcSP(-422);
                margin-left: mycalcSP(-195);
            }

            &_img {
                @include responsive((width: 1920,
                        height: 1080,
                    ));

                @include mq(sp) {
                    width: mycalcSP(390);
                    height: mycalcSP(844);
                }
            }
        }

        &_arch {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            @include responsive((width: 520,
                    height: 800,
                    margin-top: -400,
                    margin-left: -260,
                ));

            @include mq(sp) {
                display: none;
            }

            &_img {
                @include responsive((width: 520,
                        height: 800,
                    ));
            }
        }
    }

    &_menu {
        z-index: 1;

        svg {
            width: mycalcSP(56);
            height: mycalcSP(16);
            display: block;
            transition: $t_fade;

            path {
                fill: $c_white;
                fill-opacity: 1;
                stroke: $c_white;

                stroke-width: 0;
                stroke-dasharray: 54;
                stroke-dashoffset: 0;
                transition: fill $t_slide 1.8s,
                    fill-opacity $t_fade 1.8s,
                    stroke-width $t_slide 1.8s,
                    stroke-dashoffset $t_slide 1s;
            }
        }
    }

    @include minq(sp) {
        &:hover {

            .hum_circle {
                circle {
                    opacity: .3;
                    stroke: $c_gray;
                }

                &.shadow {
                    transform: rotate(135deg);

                    circle {
                        stroke: $c_white;
                        stroke-dashoffset: 0;
                        opacity: 1;
                    }
                }
            }

            .hum_bar {
                path {
                    stroke: $c_white;
                    @include responsive((stroke-dashoffset: -48,
                        ));
                }
            }
        }
    }

}


.open {
    .hum {
        &_bar {

            &_u,
            &_b {
                path {
                    stroke: $c_white;

                    @include mq(sp) {
                        stroke-dashoffset: mycalcSP(-48);
                    }
                }
            }

            &_u {
                top: 50%;
                transform: translateY(-1px) rotate(30deg);
            }

            &_b {
                bottom: 50%;
                transform: translateY(1px) rotate(-30deg);
            }
        }
    }
}


.close {
    .hum {
        &_bar {

            &_u,
            &_b {
                path {
                    stroke: $c_inc_black;
                    @include responsive((stroke-dashoffset: 0,
                        ));

                    @include mq(sp) {
                        stroke-dashoffset: mycalcSP(0);
                    }
                }
            }
        }
    }
}


.is-fixed {
    @include mq(sp) {
        height: 100%;
        overflow: hidden;
    }
}


/*
  // デザインの仕様上、不要に。
  .negative_header {
    z-index: 106;
    clip-path: inset(100% 0% 0% 0%);
    height: 100vh;
  
    @include mq(sp) {
      z-index: 104;
      .open & {
        // 閉じれるように調整
        height: mycalcSP(88);
        z-index: 107;
      }
    }
  
    &_left {
      left: 0;
      @include responsive((
        width: 230
      ));
      @include mq(sp) {
        width: 50%;
      }
    }
  
    &_right {
      right: 0;
      @include responsive((
        width: 104
      ));
      @include mq(sp) {
        width: 50%;
      }
    }
  
    .header_logo {
      .ico_logo path {
        fill: $c_white;
      }
    }
  
    .header_reserve {
      border-color: $c_white;
  
      &_link {
        @include textGradient($c_white, $c_inc_black, '.header_reserve_link_txt', $p_slide, .1s);
  
        &_txt {
          color: $c_white;
        }
  
        &:after {
          background: $c_white;
        }
      }
    }
  
    .header_bottom {
      .sns {
        path {
          stroke: $c_white;
        }
      }
  
      .lang_list_item:before,
      .lang_list_item_link {
        color: $c_white;
      }
    }
  
    .hum {
      z-index: 1002;
  
      &_circle {
        circle {
          stroke: $c_white;
          opacity: 1;
        }
      }
  
      &_bar {
        path {
          stroke: $c_white;
  
          .close & {
            stroke: $c_white;
          }
        }
      }
    }
  }
  */