/*
 * mv.scss
 *
 * メインビジュアル用コンポーネント
 * 主に下層ページで利用。
 */

.mv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .ttl {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        z-index: 0;
        color: $c_inc_black;
        font-family: $f_special;
        letter-spacing: 0;
        opacity: .5;
        margin: 0;
        @include responsive((font-size: 96,
                line-height: 96,
                padding: 320 40 136,
            ));

        @include mq(sp) {
            text-align: center;
            font-size: mycalcSP(48);
            line-height: mycalcSP(48);
            padding: mycalcSP(184 24 96);
        }

        ._txt {
            text-align: center;
            @include responsive((min-width: 20,
                ));

            @include mq(sp) {
                min-width: mycalcSP(20);
            }
        }
    }
}