@use "sass:math";
/* =============================
 * Basis
 */

html {
    -webkit-text-size-adjust: none;
    font-size: 62.5%;

    @include mq(pc) {
        font-size: math.div(1000vw, $s_widthCompPC);

        @include mq(sp) {
            font-size: 62.5%;
        }
    }
}

body {
    width: 100%;
    height: 100%;
    background: $c_bg;
    font-family: $f_mincho;
    line-height: 2.5;
    -webkit-text-size-adjust: none;
    color: $c_text;
    position: relative;
    letter-spacing: .1em;
    overflow: hidden;
    @include responsive((font-size: 16,
        ));

    @include mq(sp) {
        font-size: mycalcSP(15);
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* IE10以上 */
@media all and (-ms-high-contrast: none) {
    body {
        font-family: $f_ie10;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}

* {

    html .clearfix,
    &:first-child+html .clearfix {
        zoom: 1;
    }
}

/* IE6 */

/* IE7 */

a {
    color: $c_text;

    &:hover {
        text-decoration: none;
    }
}

p,
span,
strong,
em,
li,
dt,
td,
th,
small,
mark,
br,
img,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    &::selection {
        //-webkit-text-fill-color: #fff;
        background: $c_brown;
        //color: $c_white;
    }
}


p {
    letter-spacing: inherit;

    a {
        color: $c_text;
        text-decoration: underline;
        display: inline;


        &:hover {
            text-decoration: none;
        }
    }
}

img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
    //transition: transform $t_slide;
}

em {
    font-style: normal;
}

.tb_invisible,
.sp_disp,
.pc_disp {
    font-weight: inherit;
    letter-spacing: inherit;
}

@include minq(sp) {
    .sp_br {
        display: none;
    }

    .sp_disp {
        display: none;
    }

    a[href*="tel:"] {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
    }
}

@include mq(sp) {
    .pc_br {
        display: none;
    }

    .pc_disp {
        display: none;
    }
}

.tb_invisible {
    @include mq(tb) {
        display: none;
    }
}


/* =============================
 * Layout
 */

.main {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    clear: both;
    box-sizing: border-box;
    position: relative;
    z-index: 0;

    @include responsive((width: 984,
            padding: 0 40,
        ));

    @include mq(sp) {
        width: 100%;
        padding: mycalcSP(0 24);
    }
}

.sentence {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    @include responsive((padding: 40 40,
            font-size: 16,
            line-height: 32,
        ));

    @include mq(sp) {
        padding: mycalcSP(24 16);
        font-size: mycalcSP(14);
        line-height: mycalcSP(28);
        text-align: left;
    }
}


/* =============================
 * Appearance
 */

.center {
    text-align: center;

    &_pc {
        @include minq(sp) {
            text-align: center;
        }
    }

    &_sp {
        @include mq(sp) {
            text-align: center;
        }
    }
}

.underline {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.tag,
.tag_blank {
    font-family: $f_en;
    flex-shrink: 0;
    display: inline-block;
    letter-spacing: .1em;
    transition: background-color $t_hv, color $t_hv;
    @include responsive((font-size: 12,
            line-height: 24,
        ));

    @include mq(sp) {
        font-size: mycalcSP(10);
        line-height: mycalcSP(14);
    }
}

.tag {
    color: $c_text;

    a {
        color: $c_text;
    }
}

.tag_blank {
    background: $c_brown;
    color: $c_text;
    border: 1px solid $c_beige;
}

.em {
    font-weight: inherit;
    letter-spacing: inherit;
    color: $c_text;
}